*{
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.de-table-header-drag-flag {
  position: absolute;
  top: 0;
  width: 10px;
  margin-left: -5px;
  background: transparent;
  border-radius: 0;
  vertical-align: top;
  cursor: col-resize;
  z-index: 3;
}

.de-table-header-drag-flag-selected {
  cursor: col-resize;
  height: 100%;
  bottom: 0;
}

.de-table-header-drag-flag-selected .de-table-header-drag-flag-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  border: 1px dotted green;
}
.drag-bar {
  position: absolute;
}
.de-table-wrapper {
  position: relative;
  overflow: hidden;
  zoom: 1;
}
.de-table-container {
  position: relative;
}
.de-table {
  width: 100%;
  background-color: #FFFFFF;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 12px;
}
.de-table > thead > tr > th {
  height: 36px;
  padding: 5px 8px;
  text-align: left;
  background-color: #eef2f9;
  border: 1px solid #e1e5f3;
  vertical-align: middle;
  cursor: pointer;
}
.de-table > thead > tr > th > .table-sort {
  display: inline-block;
  overflow: hidden;
  width: 16px;
  height: 16px;
  vertical-align: top;
}
.de-table > tbody > tr > td {
  padding: 5px 8px;
  height: 36px;
  border-bottom: 1px solid #e1e5f3;
}
.de-table > tbody > tr:hover,
.de-table > tbody > tr.table-row-hover {
  background-color: #eaf8fe;
}

.de-table > tbody > tr.table-row-selected {
  background-color: #eef2f9;
}
.de-table-scroll {
  position: relative;
}
.de-table-header {
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.de-table-body {
  position: relative;
  z-index: 1;
}
.de-table-scroll .de-table-hand-paper {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab
}
.de-table-scroll .de-table-hand-grab {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
}
.de-table-fixed-left {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  overflow: hidden;
}
.de-table-margin-right {
  margin-right: -20px;
}
.de-table-fixed-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 4;
}
.de-table-fixed-left-shadow {
  box-shadow: 6px 4px 6px -4px rgba(0, 0, 0, 0.2);
}
.de-table-fixed-right-shadow {
  box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.2);
}
.de-table-scroll > .de-table-scroll-shadow {
  position: absolute;
  top: 0;
  right: 0;
}
.de-table-scroll > .de-table-scroll-shadow:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  top: 0;
  bottom: 0;
  right: -15px;
  box-shadow: -6px 0 6px -4px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
